<div class="container">
    <form (ngSubmit)="onSubmit()" #importDataSourceForm="ngForm">
      
      <div>
        <label for="importDataSourceDesc">Description:</label>
        <input type="text" id="importDataSourceDesc" [(ngModel)]="importDataSource.importDataSourceDesc" name="importDataSourceDesc" required />
      </div>
  
      <div>
        <label for="systemTypeId">System Type ID:</label>
        <input type="number" id="systemTypeId" [(ngModel)]="importDataSource.systemTypeId" name="systemTypeId" />
      </div>
  
      <div>
        <label for="jobName">Job Name:</label>
        <input type="text" id="jobName" [(ngModel)]="importDataSource.jobName" name="jobName" />
      </div>
  
      <div>
        <label for="urlFile">File URL:</label>
        <input type="text" id="urlFile" [(ngModel)]="importDataSource.urlFile" name="urlFile" required />
      </div>
  
      <div>
        <label for="urlFileAfterProcess">Processed File URL:</label>
        <input type="text" id="urlFileAfterProcess" [(ngModel)]="importDataSource.urlFileAfterProcess" name="urlFileAfterProcess" />
      </div>
  
      <div>
        <label for="endDate">End Date:</label>
        <input type="date" id="endDate" [(ngModel)]="importDataSource.endDate" name="endDate" />
      </div>
  
      <div>
        <label for="email">Email:</label>
        <input type="email" id="email" [(ngModel)]="importDataSource.email" name="email" />
      </div>
  
      <div>
        <label for="dataSourceTypeId">Data Source Type ID:</label>
        <input type="number" id="dataSourceTypeId" [(ngModel)]="importDataSource.dataSourceTypeId" name="dataSourceTypeId" required />
      </div>
  
      <div>
        <label for="startDate">Start Date:</label>
        <input type="date" id="startDate" [(ngModel)]="importDataSource.startDate" name="startDate" />
      </div>
  
      <div>
        <label for="tableName">Table Name:</label>
        <input type="text" id="tableName" [(ngModel)]="importDataSource.tableName" name="tableName" />
      </div>
  
      <div>
        <button type="submit" [disabled]="!importDataSourceForm.form.valid">Submit</button>
      </div>
      
    </form>
  </div>
  